html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial',
    sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--main-foreground-color);
  letter-spacing: 0.01rem;
  background-color: var(--main-background-color);
}

a {
  color: var(--link-color);
  fill: var(--link-color);
  font-weight: 600;
  overflow-wrap: break-word;
}

a:hover,
a:active {
  color: var(--link-hover-color);
  fill: var(--link-hover-color);
  background-color: var(--link-color);
  text-decoration: none;
}

a .icon {
  margin-left: 0.5rem;
  width: auto;
  height: 1em;
  fill: var(--link-color);
  vertical-align: middle;
}

a .icon {
  margin-left: 0.5rem;
  width: auto;
  height: 1em;
  fill: inherit;
  vertical-align: middle;
}

a:hover .icon,
a:active .icon {
  fill: inherit;
}

h1 {
  font-size: 4rem;
  line-height: 1;
}

h2 {
  margin: 3rem 0 1rem;
  font-size: 2.5rem;
  line-height: 1;
}

h3 {
  margin: 3rem 0 1rem;
  font-size: 1.8rem;
  line-height: 1;
}

p {
  margin: 1.5rem 0;
}

ol,
ul {
  margin: 1rem 1rem 1rem 2rem;
}

ol li,
ul li {
  margin: 0 0 0.5rem 0;
}

li > ol,
li > ul {
  margin: 0.5rem 0 0 2rem;
}

pre {
  margin: var(--vertical-margin) 0;
  overflow: auto;
  font-size: 1rem;
}

p > code,
li > code,
td > code,
h2 > code,
h3 > code {
  padding: 0.25rem 0.5rem;
  color: var(--code-foreground-color);
  background-color: var(--code-background-color);
  overflow-wrap: break-word;
}

blockquote {
  border-left: 0.5rem solid var(--main-foreground-color);
}

blockquote > p {
  padding: 1rem;
}

hr {
  margin: 4rem auto;
  border: 0;
  width: 2rem;
  border-bottom: 0.25rem dashed var(--main-foreground-color);
}

time {
  font-style: italic;
}

table {
  margin: var(--vertical-margin) 0;
  width: 100%;
  border-spacing: 1rem;
  border-collapse: separate;
  overflow: auto;
}

table tr th {
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--main-foreground-color);
}

table tr td {
  vertical-align: top;
}

table tbody {
  width: 100%;
  overflow: auto;
}

img,
svg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: var(--width);
}

header {
  padding: 3rem 2rem 1rem;
}

footer {
  padding: 5rem 2rem;
  text-align: center;
}

.project-list,
.blog-posts {
  margin: 0;
  list-style: none;
}

.project-item,
.blog-post {
  margin: 2rem 0;
}

.project-item h4,
.blog-post h4 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
}

.project-item p,
.blog-post p {
  margin: 0 0 0.5rem;
}
