* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', 'Helevetica', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    color: #444;
    border-top: 1em solid #75A6E7;
    text-rendering: optimizeLegibility;
}

a {
    color: #75A6E7;
    text-decoration: none;
}

img {
    border: 0;
}

h1,
h2 {
    line-height: 1.1em;
}

p,
ul,
ol,
table {
    font-family: leitura-news, serif;
}

code {
    padding: 0.4em;
    font-family: 'Monaco', monospace;
    font-size: 0.6em;
    line-height: 1.3em;
    background: #f9f9f9;
}

pre code {
    display: block;
    padding: 1em;
    line-height: 1.7em;
    overflow: auto;
}

blockquote {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.3em;
    font-style: italic;
    color: #666;
    text-align: center;
}

blockquote p:first-of-type:before {
    content: '“';
}

blockquote p:last-of-type:after {
    content: '”';
}

header,
footer {
    margin: 3em 0;
    color: #999;
    text-align: center;
}

footer {
    margin-top: 6em;
    font-size: 0.8em;
}

article {
    margin-bottom: 3em;
}

table {
    font-size: 1em;
}

hr {
    margin: 2em auto;
    width: 15rem;
    border: 0;
    border-top: 1px solid #ddd;
}

.logo {
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}

.logo a {
    display: inline-block;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.content {
    margin: 2em auto;
    padding: 1em 1em 0 1em;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.content p a,
.content li a {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.content img {
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    line-height: 1.1em;
}

.subtitle {
    font-size: 1.3em;
    line-height: 1.3em;
}

.toread {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.5;
}

.year {
    font-size: 1.4em;
    font-weight: bold;
}

.search {
    display: block;
    margin: 0 auto;
    padding: 0.3em;
    font-family: Helvetica;
    font-size: 0.8em;
    line-height: 1.3em;
    color: inherit;
    border: 2px solid #eee;
    border-radius: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search:focus {
    border-color: #ccc;
}

.table-wrapper {
    width: 100%;
    overflow: auto;
}

.hidden {
    display: none;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 600px) {

    body {
        font-size: 1.2em;
    }

}

@media screen and (min-width: 1000px) {

    blockquote {
        position: relative;
        margin: 1.5em 0;
        left: -125px;
        width: 1000px;
    }

}
