* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'ff-tisa-web-pro', 'Palatino', serif;
    font-size: 1em;
    line-height: 1.3em;
    color: #444;
    border-top: 1em solid #D85757;
    text-rendering: optimizeLegibility;
}

a {
    color: #D85757;
    text-decoration: none;
}

img {
    border: 0;
}

pre {
    padding: 0;
    overflow: hidden;
}

code {
    padding: .4em;
    font-family: 'Monaco', monospace;
    font-size: .6em;
    line-height: 1.3em;
    background: #f3f3f3;
}

pre code {
    display: block;
    padding: 1em;
    line-height: 1.7em;
    overflow: auto;
}

blockquote {
    margin: 2em auto;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}

hr {
    margin: 2em auto;
    width: 200px;
    border: 0;
    border-top: 1px solid #ddd;
}

time {
    font-style: italic;
}

table {
    font-size: .75em;
}

.table-wrapper {
    width: 100%;
    overflow: auto;
}

header {
    margin: 3em 0;
    text-align: center;
}

header nav {
    color: #999;
}

footer {
    padding: 3em 0 5em;
    font-size: .8em;
    color: #555;
    text-align: center;
}

footer a {
    color: inherit;
}

.logo {
    margin: 0;
}

.logo a {
    padding: 1em 0;
    display: block;
}

.content {
    margin: 1em auto;
    padding: 1em 1em 0 1em;
    max-width: 800px;
    font-size: 1.3em;
    line-height: 1.4em;
}

.content p a,
.content li a {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.content img {
    width: 100%;
    height: auto;
}

.title {
    margin: 0;
    font-size: 2em;
    line-height: 1em;
    clear: both;
}

.subtitle {
    font-size: 1.3em;
    line-height: 1.3em;
    color: #444;
}

.toread {
    font-size: .9em;
    font-style: italic;
    opacity: .5;
}

.question_or_comments {
    margin-top: 3em;
}

.search {
    display: block;
    margin: 0 auto;
    padding: .3em;
    font-family: Helvetica;
    font-size: .8em;
    color: inherit;
    border: 2px solid #eee;
    border-radius: 0;
    width: 100%;
    -webkit-appearance: none;
}

.search:focus {
    border-color: #ccc;
}

.hidden {
    display: none;
}

@media screen and (min-width: 600px) {

    body {
        font-size: 1.2em;
    }

}
