---
layout: default
---

{% assign first_post = site.posts.first %}

<h1 class="title"><a href="{{ first_post.url }}">{{ first_post.title }}</a></h1>

{% if first_post.image %}<p><a href="{{ first_post.url }}"><img src="{{ first_post.image }}"></a></p>{% endif %}

{% if first_post.description %}<p>{{ first_post.description | markdownify }}</p>{% endif %}

<hr>

{% assign current_year = first_post.date | date: "%Y" %}

{% for post in site.posts offset: 1 limit: 5 %}

{% if current_year != post.year %}

{% assign current_year = post.year %}

<p class="year">{{ current_year }}</p>

{% endif %}

<p>{{ post.date | date_to_string }} &mdash; <a href="{{ post.url }}">{% if post.favorite %}★ {% endif %}{{ post.title }}</a></p>

{% endfor %}

<p><a href="/articles/"><small>View More &raquo;</small></a></p>
