.article-list {

    .article {

        margin: 1em 0 2em;
        display: block;
        color: $text;
        text-decoration: none;

        .date {
            margin: 1em 0 .5em;
            @extend .datetime;
        }

        h1 {
            color: $link;
        }

    }

}

.post {

    .post-header {
        margin: 0 0 4em;
        text-align: center;
    }

    .post-title {
        font-size: 3em;
        line-height: 1em;
    }

    .post-date {
        margin: 1em 0 0;
        @extend .datetime;
    }

    h2 {
        margin: 1em 0;
        font-size: 2em;
    }

    h3 {
        margin: 1em 0;
        font-size: 1.3em;
    }

    blockquote {
        font-size: 1.8em;
        line-height: 1.1em;
        text-align: center;
    }

    pre {
        padding: .5em;
        overflow: auto;
        line-height: 1.2em;
    }

    .feedback {
        margin: 3em 0;
        font-style: italic;
    }

}

.post-navigation {

    text-align: center;
    overflow: auto;

    .previous,
    .next {
        display: block;
        padding: 1em;
        text-decoration: none;
        background-color: #F4F4F4;
    }

}

@include media-min-query($max-width) {

    .post {

        blockquote {
            position: relative;
            width: 95vw;
            left: calc((100% - 95vw) / 2);
        }

    }

    .post-navigation {

        display: -webkit-flex;

        .previous,
        .next {
            -webkit-flex: 1;
        }

    }

}
