.book-list {

    .book {

        margin: 1em 0 2em;
        text-align: center;

        img {
            display: inline-block;
        }

        .button {
            display: inline-block;
            padding: .75em 1.25em;
            border-radius: 10px;
            color: lighten($text, 50%);
            border: 1px solid lighten($text, 50%);
            cursor: default;
        }

    }

}
