.projects {

    .wrapper {
        max-width: 100%;
        padding: 0;
    }

}

.project {

    padding: 2em;
    text-align: center;
    background-color: #eee;

    a {
        color: inherit;
    }

    p {
        margin: 2em auto;
        max-width: 42em;
    }

    .project-type {
        font-size: .8em;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.75;
    }

    &.linear,
    &.facadejs,
    &.monkey,
    &.the-impossible-triangle,
    &.ios-device-svg-templates {
        img,
        object {
            margin: 0 auto;
            padding: 1em;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &.linear {
        color: #eee;
        background-color: lighten(#F94B43, 3);
        img {
            padding: 1em 1em 2em;
            max-width: 45em;
        }
    }

    &.facadejs {
        color: #eee;
        background-color: lighten(#322957, 10);
        img {
            padding: 1em 1em 2em;
            max-width: 45em;
        }
    }

    &.doxdox {
        color: #eee;
        background-color: lighten(#2C313D, 10);
        img {
            padding: 1em 1em 2em;
            max-width: 45em;
        }
    }

    &.monkey {
        background-color: #eee;
        img {
            padding: 1em 1em 2em;
            max-width: 20em;
        }
    }

    &.the-impossible-triangle {
        background-color: lighten(#6FCEE4, 10);
        img {
            max-width: 30em;
        }
    }

    &.ios-device-svg-templates {
        background-color: #eee;
        object {
            padding: 1em 1em 2em;
            max-width: 40em;
        }
    }

}
