.projects {

    .wrapper {
        max-width: 100%;
        padding: 0;
    }

}

.project {

    padding: 2em;
    text-align: center;

    a {
        color: inherit;
    }

    p {
        margin: 2em 0;
    }

    .project-type {
        font-size: .9em;
        font-weight: 600;
        text-transform: uppercase;
    }

    &.monkey,
    &.the-impossible-triangle,
    &.ios-device-svg-templates {
        img,
        object {
            margin: 0 auto;
            padding: 1em;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &.monkey {
        color: #333;
        background-color: #eee;
        img {
            padding: 1em 1em 2em;
            max-width: 400px;
        }
    }

    &.the-impossible-triangle {
        color: #333;
        background-color: #7AE1FA;
        img {
            max-width: 500px;
        }
    }

    &.ios-device-svg-templates {
        color: #333;
        background-color: #eee;
        object {
            padding: 1em 1em 2em;
            max-width: 600px;
        }
    }

}
