.talk {

    margin: 1em 0 2em;

    .talk-title {

        margin: .5em 0;

        a {
            text-decoration: none;
        }

    }

    .transcript-title {

        margin: 2em 0 0;

    }

    .transcript {

        font-style: italic;

    }

}
