$text: #333;
$link: #EE3430;
$background: #FBFBFB;

$social-twitter: #55ACEE;
$social-github: #666666;
$social-instagram: #3F729B;
$social-dribbble: #EA4C89;

$max-width: 43.750em;

.datetime {
    font-size: .85em;
    line-height: 1em;
    b {
        font-weight: 600;
        text-transform: uppercase;
    }
}
