<!DOCTYPE html>
<html manifest="/manifest.appcache">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1" />
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
<script type="text/javascript" src="//use.typekit.net/buz5exa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

<header>
	<a href="/"><img src="/images/logo.svg" class="logo" /></a>
	<p><a href="/about">About</a> / <a href="/articles">Articles</a> / <a href="/projects">Projects</a></p>
</header>

<div class="content">
{{ content }}
</div>

<footer>

	<hr>

	<p><a href="/about">About</a> / <a href="/articles">Articles</a> / <a href="/projects">Projects</a></p>

</footer>

</body>
</html>