<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{ site.name }} {% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/syntax.css">
<link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">
<script type="text/javascript" src="//use.typekit.net/buz5exa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

<header>
    <a href="/"><img src="/images/logo.svg" class="logo"></a>
    <p><a href="/about/">About</a> / <a href="/articles/">Articles</a> / <a href="/projects/">Projects</a></p>
</header>

<div class="content">
{{ content }}
</div>

<footer>

    <hr>

    <p><a href="/about/">About</a> / <a href="/articles/">Articles</a> / <a href="/projects/">Projects</a></p>

</footer>

<script type="text/javascript">
var _gaq = [['_setAccount', 'UA-27219227-2'], ['_trackPageview']];
(function (d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = '//google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>

</body>
</html>