<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{ site.name }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>

<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/syntax.css">

{% if page.image %}
<link rel="image_src" href="{{ site.url }}{{ page.image }}">
{% else %}
<link rel="image_src" href="{{ site.url }}/images/logo.png">
{% endif %}

<link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">

{% if page.description %}
<meta name="description" content="{{ page.description | markdownify | strip_html }}">
{% else %}
<meta name="description" content="Hi! I'm Scott Doxey, a Boston based web developer who loves to tinker. I'm currently working as a User Experience Consultant at Cantina. When I'm not crafting awesome user experiences at Cantina you can find me hacking away at any one of my open source projects. Most recently I have been developing an HTML5 Canvas library called Facade.js. Previously I released Reader.py an inbox-zero take on RSS readers, doxdox a dox documentation generator and the Overseer Framework a PHP micro-framework.">
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="neogeek">
<meta name="twitter:creator" content="neogeek">
<meta name="twitter:title" content="{{ site.name }}{% if page.title %} — {{ page.title }}{% endif %}">
<meta name="twitter:domain" content="{{ site.url }}">

{% if page.description %}
<meta name="twitter:description" content="{{ page.description | markdownify | strip_html }}">
{% else %}
<meta name="twitter:description" content="Hi! I'm Scott Doxey, a Boston based web developer who loves to tinker. I'm currently working as a User Experience Consultant at Cantina. When I'm not crafting awesome user experiences at Cantina you can find me hacking away at any one of my open source projects. Most recently I have been developing an HTML5 Canvas library called Facade.js. Previously I released Reader.py an inbox-zero take on RSS readers, doxdox a dox documentation generator and the Overseer Framework a PHP micro-framework.">
{% endif %}

{% if page.image %}
<meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
{% endif %}

<script type="text/javascript" src="//use.typekit.net/buz5exa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-27219227-2', 'neo-geek.net');
ga('send', 'pageview');
</script>

</head>

<body>

<header>
    <div class="logo"><a href="/">Scott Doxey</a></div>
    <nav><a href="/about/">About</a> / <a href="/articles/">Articles</a> / <a href="/projects/">Projects</a> / <a href="/talks/">Talks</a></nav>
</header>

<div class="content">
{{ content }}
</div>

<footer>

    <hr>

    <p><a href="/about/">About</a> / <a href="/articles/">Articles</a> / <a href="/projects/">Projects</a> / <a href="/talks/">Talks</a></p>

</footer>

</body>
</html>
