---
layout: default
---
<div class="post">

    <div class="wrapper">

        <header class="post-header">

            <h1 class="post-title">{{ page.title }}</h1>

            <p class="post-date">Published <b>{{ page.date | date: "%B %Y" }}</b></p>

        </header>

        <article class="post-content">

            {% if page.image %}
            <img src="{{ page.image }}">
            {% endif %}

            {% if page.description %}

            {{ page.description | markdownify }}

            {% endif %}
            {{ content }}

        </article>

    </div>

    <div class="post-navigation">

        {% if page.previous.url %}
        <a href="{{ page.previous.url }}" class="previous">&#171; {{ page.previous.title }}</a>
        {% endif %}

        {% if page.next.url %}
        <a href="{{ page.next.url }}" class="next">{{ page.next.title }} &#187;</a>
        {% endif %}

    </div>

</div>
