---
layout: default
---

<h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
{% if page.subtitle %}<p class="subtitle">{{ page.subtitle }}</p>{% endif %}
<p class="toread"></p>

<article>

{% if page.image %}
<img src="{{ page.image }}">
{% endif %}

{{ page.description | markdownify }}

{{ content }}

</article>

<p class="question_or_comments"><i>If you have any questions or comments regarding this article please let me know at <a href="mailto:%email%">%email%</a>.</i></p>

<script src="/js/article.js"></script>