---
layout: default
title: Articles
---

<input type="text" size="25" class="search" placeholder="Search articles by keyword" autocapitalize="off" autocomplete="off" spellcheck="false" />

{% assign current_year = first_post.date | date: "%Y" %}

{% for post in site.posts %}

{% if current_year != post.year %}

{% assign current_year = post.year %}

<h2>{{ current_year }}</h2>

{% endif %}

<p class="article">{{ post.date | date_to_string }} &mdash; <a href="{{ post.url }}" data-title="{{ post.title | downcase }}" data-description="{{ post.description | downcase }}">{{ post.title }}</a></p>

{% endfor %}

<script src="/js/search.js"></script>